# This is a basic workflow to help you get started with Actions

name: publish  to nexus

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      -  uses: actions/checkout@v2
         if: github.base_ref == 'main'
         with: 
          ref: main
          token: ${{ secrets.CI_TOKEN }}
          
      - uses: axves1/publish-to-nexus@main
        env:
          NEXUS_NPM_TOKEN: ${{ secrets.NEXUS_NPM_TOKEN }}
        
      

